<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--GO to https://bootswatch.com/ to see all the other themes installed in this project -->
    <link rel='stylesheet' href='/bw/quartz/bootstrap.css'  />    <!-- currently using the quartz theme – change it you like -->
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
